{% assign wordcount = include.content | number_of_words %}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "articleSection": "blog",
    "name": "{{ page.title | safeJS }}",
    "headline": "{{ page.title | safeJS }}",
    "alternativeHeadline": "{{ page.lead }}",
    "description": "{{ if page.description }}{{ page.description | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }}",
    "inLanguage": {{ site.languageCode | default "en-us" }},
    "isFamilyFriendly": "true",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ page.baseURL }}{{ page.url }}"
    },
    "author" : {
        "@type": "Person",
        "name": "{{ page.author }}"
    },
    "creator" : {
        "@type": "Person",
        "name": "{{ page.author }}"
    },
    "accountablePerson" : {
        "@type": "Person",
        "name": "{{ page.author}}"
    },
    "copyrightHolder" : "{{ site.copyright }}",
    "copyrightYear" : "{{ page.date | date: "%Y" }}",
    "datePublished": "{{ page.date | date: "%B %d, %Y" }}",
    "dateModified": "{% if page.modified %}{{ page.modified }}{% else %}{{ page.date }}{% endif %}"
    "publisher":{
        "@type":"Organization",
        "description": "OOPSpam API: Stop bots and manual spam from reaching you or your customer. All with high accuracy and privacy.",
        "name": {{ site.copyright }},
        "url": {{ site.baseURL }},
        "logo": {
            "@type": "ImageObject",
            "url": "{{ site.logo }}",
            "width":"32",
            "height":"32"
        }
    },
    "image": "{{ page.baseURL }}{{ page.image }}",
    "url" : "{{ page.baseURL }}{{ page.url }}",
    "wordCount" : "{{ wordcount }}"
}
</script>