<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "articleSection": "blog",
    "name": "{{ page.title | safeJS }}",
    "headline": "{{ page.title | safeJS }}",
    "alternativeHeadline": "{{ page.lead }}",
    "description": "{{ if page.description }}{{ page.description | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }}",
    "inLanguage": {{ site.languageCode | default "en-us" }},
    "isFamilyFriendly": "true",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ page.url | absURL }}"
    },
    "author" : {
        "@type": "Person",
        "name": "{{ page.author }}"
    },
    "creator" : {
        "@type": "Person",
        "name": "{{ page.author }}"
    },
    "accountablePerson" : {
        "@type": "Person",
        "name": "{{ page.author}}"
    },
    "copyrightHolder" : "{{ $org_name }}",
    "copyrightYear" : "{{ post.date | date: "%Y" }}",
    "dateCreated": "{{ post.date | date: "%B %d, %Y" }}",
    "datePublished": "{{ post.date | date: "%B %d, %Y" }}",
    "dateModified": "{{ post.date | date: "%B %d, %Y" }}",
    "publisher":{
        "@type":"Organization",
        "name": {{ $org_name }},
        "url": {{ site.baseURL }},
        "logo": {
            "@type": "ImageObject",
            "url": "{{ site.logo | absURL }}",
            "width":"32",
            "height":"32"
        }
    },
    "image": "{{ page.image | absURL }}",
    "url" : "{{ page.url | absURL }}",
    "wordCount" : "{{ .WordCount }}"
}
</script>