<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "articleSection": "{{ .Section }}",
    "name": "{{ page.title | safeJS }}",
    "headline": "{{ page.title | safeJS }}",
    "alternativeHeadline": "{{ page.lead }}",
    "description": "{{ if page.description }}{{ page.description | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }}",
    "inLanguage": {{ site.languageCode | default "en-us" }},
    "isFamilyFriendly": "true",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ post.url | prepend: site.baseurl }}"
    },
    "author" : {
        "@type": "Person",
        "name": "{{ page.author }}"
    },
    "creator" : {
        "@type": "Person",
        "name": "{{ page.author }}"
    },
    "accountablePerson" : {
        "@type": "Person",
        "name": "{{ page.author}}"
    },
    "copyrightHolder" : "{{ $org_name }}",
    "copyrightYear" : "{{ page.date.Format "2006" }}",
    "dateCreated": "{{ page.date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "datePublished": "{{ page.date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "dateModified": "{{ page.lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "publisher":{
        "@type":"Organization",
        "name": {{ $org_name }},
        "url": {{ site.baseURL }},
        "logo": {
            "@type": "ImageObject",
            "url": "{{ site.logo | absURL }}",
            "width":"32",
            "height":"32"
        }
    },
    "image": "{{ page.image }}",
    "url" : "{{ post.url | prepend: site.baseurl }}",
    "wordCount" : "{{ .WordCount }}"
}
</script>