.post {
  padding: 3rem 0;


  h2 {
    font-size: 1.75rem;        // 28px
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.375rem;       // 22px
    margin-top: 2rem;
    margin-bottom: 0.75rem;
  }

  h4 {
    font-size: 1.125rem;       // 18px
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  // h3 {
  //   font-size: 24px;
  // }
  &-info {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: 0.5px;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: $default-shade;
    font-family: $sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
    text-align: center;
  }

  &-line {
    border-top: 0.4rem solid $default-shade;
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;
  }

  ul, table {
    font-size: 20px;
  }
  p, li {
    margin: 0 0 1rem;
    text-align: justify;
    font-size: 20px;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    margin: 0 auto 0.5rem;
  }

  img + em {
    color: $default-tint;
    display: block;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }
}
