---
layout: default
---

<header>
  <h1 style="font-weight: normal;">We write about spam protection, accessibility, and more.</h1>
</header>
<div class="catalogue">
  <div class="band">
    {% for post in paginator.posts %}
    <div class="item-{% increment postNo %}" style="border: solid;">
      <a href="{{ post.url | prepend: site.baseurl }}" class="card">
        
        <div class="thumb" style="background-image: url({{ post.image | prepend: site.baseURL }});"></div>
        <article tabindex="0">
          <h2>{{ post.title }}</h2>
          <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
            <span>
            {% capture words %}
            {{ post.content | number_of_words | minus: 180 }}
            {% endcapture %}
            {% unless words contains '-' %}
            {{ words | plus: 150 | divided_by: 150 | append: ' minutes to read' }}
            {% endunless %}
          </span>
          
        </article>
      </a>
    </div>
  {% endfor %}

  </div>

  <div class="pagination">
    {% if paginator.previous_page %}
      <a tabindex="0" style="font-size: xx-large;" href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
    {% endif %}
  
      <span class="page_number ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
      </span>
     
    {% if paginator.next_page %}
      <a tabindex="0" style="font-size: xx-large;" href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
    {% endif %}
  
  
  </div>


</div>

<script>
  const childElement = document.querySelector('.catalogue');

  childElement.parentElement.style.maxWidth = 'unset';

</script>
