---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {{ content }}

</div>

<div class="endofarticleButtons">
  <a class="button" href="https://rapidapi.com/oopspam/api/oopspam-spam-filter">
    Get an API key and test with free API calls→
  </a>
  <a class="button" href="https://wordpress.org/plugins/oopspam-anti-spam/">
    Get OOPSpam Anti-Spam WordPress Plugin→
  </a>
  <!-- <a href="https://wordpress.org/plugins/oopspam-anti-spam/">
    <img alt="Get OOPSpam Anti-Spam WordPress Plugin" src="/blog/assets/btn-oopspam-wordpress-plugin.png">
    </a>
    <a href="https://rapidapi.com/oopspam/api/oopspam-spam-filter">
    <img alt="Get OOPSpam Anti-Spam API key" src="/blog/assets/btn-oopspam-get-key.png">
    </a> -->
</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Topꜛ</a>
</div>