---
layout: default
---

<div class="post">
  <div class="post-info" style="display: flex; align-items: center; justify-content: space-between;">
    {% assign author = site.authors | where: 'name', page.author |
      first %} {% if author %}
      <div style="display: inline-flex; align-items: center; margin: 1em;">
        {% if author.avatar %}
        <img style="width: 64px; height: 64px; margin:0em; margin-right: 8px;
        border: solid;
        border-radius: 3em;
        border-color: #000;" src="{{ author.avatar }}" alt="image of {{ author.display_name }}" />
        {% endif %}
        <div style="display: flex; flex-direction: column;">
        <p style="color:#555; margin-bottom: 0%;">{{ author.display_name }}</p>
        <p style="margin-bottom: 0%;">{{ author.position }}</p>
        </div>
        
      </div>
      {% endif %}
      <div style="display: inline-flex; align-items: end; margin: 1em; flex-direction: column;">
        <p style="color:#555; margin-bottom: 0%;">{% include reading-time.html %}</p>
        {% if page.date %}
       <time  datetime="{{ page.date }}">{{ page.date | date: "%b %d, %Y" }}</time>
      {% endif %}
  
      
      </div>
  </div>
  <hr style="width: 50px; margin-bottom: 5em;">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {{ content }}

</div>

<div class="endofarticleButtons">
  <div class="columns">
    <div class="column">
      <img style="padding-bottom: 1em;" src="https://www.oopspam.com//blog/assets/posts/CocktailofIngredients.svg" alt=""/>
    </div>
    <div class="column" style="padding-left: 2em;">
      <p style="font-size: x-large;
      font-weight: bold;margin-top:0em;">Spam Protection for WordPress, Zapier, Make and more.</p>
      <p style="font-size: 20px;">Since our launch in 2017 we’ve been perfecting our API to be the trusted option for small businesses to enterprise— and continue to stick to our values of being the accessibility and privacy-friendly option. Give us a shot!</p>

       <a style="background-color: #fcdc56 !important;border-style: solid !important;
       box-shadow: 2px 5px;color: #0a0a0a;background-repeat: no-repeat;
  background-size: 100% .5em;
  background-position: 0 113%;
  transition: background-size .25s ease-in;
  background-image: linear-gradient(118.8deg,#ffdd57 0,#ffdd57 100%);border-width: 1px;" class="button" href="https://app.oopspam.com/Identity/Account/Register">
        Try OOPSpam for free →
      </a>
      <a style="background-color: #fff !important;border-style: solid !important;
      box-shadow: 2px 5px;color: #0a0a0a;background-repeat: no-repeat;
 background-size: 100% .5em;
 background-position: 0 113%;
 transition: background-size .25s ease-in;
 background-image: linear-gradient(118.8deg,#ffdd57 0,#ffdd57 100%);border-width: 1px;" class="button" href="https://wordpress.org/plugins/oopspam-anti-spam/">
        Try our WordPress plugin for free →
      </a>
      <p>✓ No credit card required ✓ Cancel anytime </p>

    </div>
  </div>
 
</div>

{% if site.related_posts.size >= 1 %}
<div>
  <h3>Enjoy Reading This Article?</h3>
  <p>Here are some more articles you might like to read next:</p>
  <ul>
  {% for related_post in site.related_posts limit: 5 %}
    <li><a href="{{ site.baseURL |  append: related_post.url }}">{{ related_post.title}}</a></li>
  {% endfor %}
  </ul>
</div>
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Topꜛ</a>
</div>